@font-face
	font-family: Neonderthaw
	font-display: swap
	src: url("../fonts/Neonderthaw-Regular.woff2") format("woff2"), url("../fonts/Neonderthaw-Regular.woff") format("woff")
	font-weight: 400
	font-style: normal
@font-face
	font-family: Pragmaticashadowc
	font-display: swap
	src: url("../fonts/Pragmaticashadowc-italic.woff2") format("woff2"), url("../fonts/Pragmaticashadowc-italic.woff") format("woff")
	font-weight: 400
	font-style: normal
